.main-header {
  height: 80px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header-logo img {
  height: 56px;
}

.main-nav {
  height: 100%;
  display: flex;
}

.main-nav-list {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.main-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
}

.main-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.social-media-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
}

.social-media-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
}

.social-media-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-media-icon {
  height: 32px;
}
